<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="gstool"
         name="Getters and Setters"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.gs.GSTool"
            description="Generate Getters and Setters"
            icon="gs.png"
            hasState="false"
            view="pt.iscte.pidesco.projectbrowser.tree">
      </tool>
   </extension>

</plugin>
